<div class="technology-watch">
  <h2>Technology Watch</h2>
  <ul>
    <li>
      <h3>Librairies de test - Angular</h3>
      <p>
        Jasmine: Framework de test unitaire intégré à Angular par défaut. <br />
        Jest: Un autre framework populaire pour le test unitaire. <br />
        Cypress: Principalement utilisé pour des tests d'end-to-end. <br />
        Protractor: Spécifique à Angular, utilisé pour des tests d'acceptation.
      </p>
      <a
        href="https://www.neosoft.fr/nos-publications/blog-tech/tests-unitaires-avec-angular-partie-1/#:~:text=La%20librairie%20standard%20de%20tests,nos%20directives%20et%20services%20Angular."
        >Read more</a
      >
    </li>
    <li>
      <h3>Librairies de test - Java</h3>
      <p>
        JUnit 5: Framework de test unitaire pour Java. <br />
        Selenium: Principalement utilisé pour les tests d'interface utilisateur.
        <br />
        Cucumber: Utilisé pour le test comportemental (Behavior-Driven
        Development - BDD).
      </p>
      <a
        href="https://zestedesavoir.com/tutoriels/274/les-tests-unitaires-en-java/"
        >Read more</a
      >
    </li>
    <li>
      <h3>Librairies de composants visuels (UI) - Angular</h3>
      <p>
        ng-zorro: Une bibliothèque d'interface utilisateur pour Angular. <br />
        Angular Material: Une collection de composants d'interface utilisateur
        basée sur les directives Material Design. <br />
        PrimeNG: Une suite de composants UI pour Angular.
      </p>
      <a
        href="https://angular-enterprise.com/fr/ngpost/ressources/librairies/interface/"
        >Read more</a
      >
    </li>
    <li>
      <h3>Paradigmes de programmation - Angular</h3>
      <p>
        Principalement orienté composants et services (programmation orientée
        objet). <br />
        Intègre des concepts de programmation réactive grâce à RxJS.
      </p>
      <a href="https://welovedevs.com/fr/articles/paradigme-programmation-orientee-objet-et-programmation-fonctionnelle/">Read more</a>
    </li>
    <li>
      <h3>Paradigmes de programmation - Java</h3>
      <p>
        Langage fortement orienté objet. <br />
        Prend en charge la programmation impérative et fonctionnelle.
      </p>
      <a href="https://design-patterns.cofares.net/Paradigmes/">Read more</a>
    </li>
  </ul>
</div>
